<h1>Your To-Dos</h1>
<ul>
  {% for task in tasks %}
    <li>
      {{ task.title }} - {% if task.done %} finished {% else %} not finished {% endif %}
    </li>
  {% endfor %}
</ul>

{% if is_sso %}
  
  <a href="{% url 'sso_logout' %}" class="btn btn-danger">Logout (SSO)</a>
{% else %}
 
  <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Logout (Normal)</button>
  </form>
{% endif %}

<a href="{% url 'add_task' %}">Add Task</a>


